# Employees Data Exploration (Python)

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

In [ ]:
data = {
  "emp_id": [
    1,
    2,
    3,
    4,
    5,
    6,
    7,
    8,
    9,
    10,
    11,
    12,
    13,
    14,
    15,
    16,
    17,
    18,
    19,
    20,
    21,
    22,
    23,
    24,
    25,
    26,
    27,
    28,
    29,
    30,
    31,
    32,
    33,
    34,
    35,
    36,
    37,
    38,
    39,
    40,
    41,
    42,
    43,
    44,
    45,
    46,
    47,
    48,
    49,
    50
  ],
  "first_name": [
    "Liam",
    "Emma",
    "Amelia",
    "Harper",
    "Michael",
    "Ava",
    "Noah",
    "Harper",
    "Luna",
    "Jacob",
    "Chloe",
    "Ava",
    "Elizabeth",
    "Aria",
    "Wyatt",
    "Elizabeth",
    "Chloe",
    "Sofia",
    "James",
    "Avery",
    "Lucas",
    "Joseph",
    "Levi",
    "Sofia",
    "Liam",
    "Jackson",
    "Logan",
    "Ella",
    "Grace",
    "Daniel",
    "Noah",
    "Avery",
    "Ethan",
    "Benjamin",
    "Emma",
    "Jackson",
    "Sebastian",
    "Charlotte",
    "Abigail",
    "Levi",
    "Evelyn",
    "Madison",
    "Evelyn",
    "Harper",
    "Chloe",
    "Elijah",
    "Aria",
    "Charlotte",
    "Lucas",
    "Owen"
  ],
  "last_name": [
    "Mitchell",
    "Johnson",
    "Lewis",
    "Martinez",
    "Thompson",
    "Scott",
    "Nelson",
    "Robinson",
    "Baker",
    "Harris",
    "Roberts",
    "Wilson",
    "Adams",
    "Sanchez",
    "Brown",
    "Hill",
    "Adams",
    "Carter",
    "White",
    "Johnson",
    "Torres",
    "Walker",
    "Carter",
    "Lewis",
    "Jones",
    "Thomas",
    "Clark",
    "Campbell",
    "Perez",
    "Lopez",
    "Adams",
    "Walker",
    "Taylor",
    "Jackson",
    "Brown",
    "Garcia",
    "Thomas",
    "Nelson",
    "Carter",
    "Wilson",
    "Hernandez",
    "Miller",
    "Hill",
    "Brown",
    "Rodriguez",
    "Jones",
    "Scott",
    "Baker",
    "Hernandez",
    "Perez"
  ],
  "department": [
    "Business",
    "Business",
    "Engineering",
    "Business",
    "Engineering",
    "Marketing",
    "Business",
    "Engineering",
    "Engineering",
    "Business",
    "Business",
    "AI",
    "Engineering",
    "Marketing",
    "AI",
    "AI",
    "Marketing",
    "Business",
    "IT",
    "Business",
    "AI",
    "AI",
    "IT",
    "Business",
    "IT",
    "Business",
    "Business",
    "Business",
    "IT",
    "Business",
    "AI",
    "Business",
    "AI",
    "Business",
    "Engineering",
    "AI",
    "Engineering",
    "IT",
    "AI",
    "Engineering",
    "Engineering",
    "AI",
    "Business",
    "Business",
    "Engineering",
    "AI",
    "Business",
    "Business",
    "AI",
    "IT"
  ],
  "gender": [
    "MALE",
    "FEMALE",
    "FEMALE",
    "FEMALE",
    "MALE",
    "FEMALE",
    "MALE",
    "FEMALE",
    "FEMALE",
    "MALE",
    "FEMALE",
    "FEMALE",
    "FEMALE",
    "FEMALE",
    "MALE",
    "FEMALE",
    "FEMALE",
    "FEMALE",
    "MALE",
    "FEMALE",
    "MALE",
    "MALE",
    "MALE",
    "FEMALE",
    "MALE",
    "MALE",
    "MALE",
    "FEMALE",
    "FEMALE",
    "MALE",
    "MALE",
    "FEMALE",
    "MALE",
    "MALE",
    "FEMALE",
    "MALE",
    "MALE",
    "FEMALE",
    "FEMALE",
    "MALE",
    "FEMALE",
    "FEMALE",
    "FEMALE",
    "FEMALE",
    "FEMALE",
    "MALE",
    "FEMALE",
    "FEMALE",
    "MALE",
    "MALE"
  ],
  "country": [
    "USA",
    "USA",
    "CHINA",
    "CHINA",
    "CHINA",
    "INDIA",
    "USA",
    "CANADA",
    "INDIA",
    "GERMANY",
    "CHINA",
    "INDIA",
    "USA",
    "GERMANY",
    "USA",
    "INDIA",
    "USA",
    "GERMANY",
    "INDIA",
    "CANADA",
    "USA",
    "USA",
    "USA",
    "USA",
    "USA",
    "INDIA",
    "USA",
    "CHINA",
    "USA",
    "USA",
    "CHINA",
    "INDIA",
    "CHINA",
    "USA",
    "INDIA",
    "USA",
    "USA",
    "USA",
    "USA",
    "USA",
    "INDIA",
    "USA",
    "CANADA",
    "INDIA",
    "USA",
    "CHINA",
    "USA",
    "USA",
    "CHINA",
    "INDIA"
  ],
  "salary": [
    86868,
    66956,
    101853,
    84312,
    180435,
    154800,
    121024,
    153132,
    200021,
    206001,
    142694,
    142490,
    207159,
    193569,
    170666,
    63009,
    178940,
    138235,
    199029,
    140612,
    78143,
    219014,
    164593,
    65514,
    68234,
    94684,
    152876,
    85799,
    109862,
    79761,
    121965,
    103158,
    170888,
    202133,
    199231,
    121657,
    169897,
    94308,
    207585,
    78033,
    198658,
    88058,
    129201,
    71557,
    175824,
    203023,
    155591,
    206770,
    168080,
    125055
  ],
  "age": [
    67,
    58,
    20,
    26,
    66,
    76,
    25,
    43,
    30,
    64,
    71,
    65,
    35,
    28,
    30,
    55,
    30,
    75,
    69,
    73,
    51,
    53,
    39,
    41,
    24,
    54,
    47,
    61,
    32,
    79,
    25,
    23,
    38,
    67,
    74,
    24,
    25,
    45,
    59,
    42,
    39,
    27,
    63,
    37,
    67,
    29,
    39,
    69,
    76,
    62
  ],
  "date_joined": [
    "2020-12-22",
    "2022-03-25",
    "2024-09-27",
    "2024-04-05",
    "2021-05-26",
    "2022-02-26",
    "2021-02-17",
    "2022-05-08",
    "2022-09-29",
    "2022-06-18",
    "2024-07-01",
    "2022-05-20",
    "2022-12-12",
    "2025-07-14",
    "2020-09-17",
    "2021-04-14",
    "2020-01-14",
    "2025-09-10",
    "2020-01-03",
    "2022-09-07",
    "2021-05-30",
    "2024-09-29",
    "2024-03-09",
    "2022-07-31",
    "2023-09-15",
    "2025-04-20",
    "2024-09-30",
    "2020-09-05",
    "2025-01-11",
    "2024-12-20",
    "2021-11-12",
    "2024-04-01",
    "2025-06-16",
    "2020-09-06",
    "2021-10-06",
    "2024-07-11",
    "2023-07-19",
    "2023-05-13",
    "2021-02-13",
    "2022-09-27",
    "2020-02-02",
    "2021-09-28",
    "2025-09-01",
    "2020-01-15",
    "2024-10-17",
    "2020-05-27",
    "2020-06-12",
    "2024-07-22",
    "2020-04-11",
    "2022-12-28"
  ]
}
df = pd.DataFrame(data)
df.head()

## Basic stats

In [ ]:
df[['salary','age']].describe()

## Counts

In [ ]:
df['department'].value_counts()

In [ ]:
df['country'].value_counts()

In [ ]:
df['gender'].value_counts()

## Aggregations

In [ ]:
dept_agg = df.groupby('department').agg(headcount=('emp_id','count'),avg_salary=('salary','mean'),avg_age=('age','mean')).reset_index()
dept_agg.sort_values('headcount', ascending=False)

In [ ]:
country_agg = df.groupby('country').agg(headcount=('emp_id','count'),avg_salary=('salary','mean')).reset_index()
country_agg.sort_values('headcount', ascending=False)

## Plots

In [ ]:
# 1) Headcount by Department
ax = dept_agg.sort_values('headcount', ascending=False).plot(x='department', y='headcount', kind='bar', legend=False, title='Headcount by Department')
import matplotlib.pyplot as plt
plt.tight_layout()

In [ ]:
# 2) Average Salary by Department
ax = dept_agg.sort_values('avg_salary', ascending=False).plot(x='department', y='avg_salary', kind='bar', legend=False, title='Average Salary by Department')
import matplotlib.pyplot as plt
plt.tight_layout()

In [ ]:
# 3) Headcount by Country
ax = country_agg.sort_values('headcount', ascending=False).plot(x='country', y='headcount', kind='bar', legend=False, title='Headcount by Country')
import matplotlib.pyplot as plt
plt.tight_layout()

In [ ]:
# 4) Salary distribution
ax = df['salary'].plot(kind='hist', bins=10, title='Salary Distribution')
import matplotlib.pyplot as plt
plt.tight_layout()

In [ ]:
# 5) Age vs Salary
ax = df.plot(x='age', y='salary', kind='scatter', title='Age vs Salary')
import matplotlib.pyplot as plt
plt.tight_layout()