# MySQL DATE, TIME, and TIMESTAMP
This notebook demonstrates MySQL usage with DATE, TIME, and TIMESTAMP data types.

## 1. Setup MySQL Connection

In [ ]:

import mysql.connector

# Connect to MySQL (update with your credentials)
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="your_password",
    database="testdb"
)
cursor = conn.cursor()
print("Connected to MySQL!")

## 2. Create Schema and Table

In [ ]:

cursor.execute("DROP TABLE IF EXISTS events")
cursor.execute("""
CREATE TABLE events (
    event_id INT PRIMARY KEY,
    event_name VARCHAR(50),
    event_date DATE,
    event_time TIME,
    event_timestamp TIMESTAMP
)
""")
print("Table 'events' created!")

## 3. Insert Sample Rows

In [ ]:

insert_query = "INSERT INTO events (event_id, event_name, event_date, event_time, event_timestamp) VALUES (%s,%s,%s,%s,%s)"
rows = [
(1, 'Team Meeting', '2025-01-10', '09:00:00', '2025-01-10 09:00:00'),
(2, 'Project Deadline', '2025-01-15', '23:59:59', '2025-01-15 23:59:59'),
(3, 'Doctor Appointment', '2025-02-01', '10:30:00', '2025-02-01 10:30:00'),
(4, 'Birthday Party', '2025-02-20', '18:00:00', '2025-02-20 18:00:00'),
(5, 'Conference', '2025-03-05', '08:00:00', '2025-03-05 08:00:00'),
(6, 'Flight', '2025-03-12', '06:45:00', '2025-03-12 06:45:00'),
(7, 'Exam', '2025-04-01', '14:00:00', '2025-04-01 14:00:00'),
(8, 'Workshop', '2025-04-15', '11:00:00', '2025-04-15 11:00:00'),
(9, 'Concert', '2025-05-07', '20:00:00', '2025-05-07 20:00:00'),
(10, 'Hackathon', '2025-05-20', '09:00:00', '2025-05-20 09:00:00'),
(11, 'Seminar', '2025-06-02', '10:00:00', '2025-06-02 10:00:00'),
(12, 'Exam', '2025-06-10', '14:00:00', '2025-06-10 14:00:00'),
(13, 'Holiday', '2025-07-04', '00:00:00', '2025-07-04 00:00:00'),
(14, 'Team Outing', '2025-07-15', '12:00:00', '2025-07-15 12:00:00'),
(15, 'Training', '2025-08-01', '09:30:00', '2025-08-01 09:30:00'),
(16, 'Meeting', '2025-08-10', '15:00:00', '2025-08-10 15:00:00'),
(17, 'Presentation', '2025-09-01', '10:00:00', '2025-09-01 10:00:00'),
(18, 'Hackathon', '2025-09-15', '09:00:00', '2025-09-15 09:00:00'),
(19, 'Concert', '2025-10-01', '19:30:00', '2025-10-01 19:30:00'),
(20, 'Exam', '2025-10-17', '14:00:00', '2025-10-17 14:00:00')
]
cursor.executemany(insert_query, rows)
conn.commit()
print("20 rows inserted!")

## 4. Example Queries

In [ ]:
cursor.execute("""SELECT * FROM events;""")
for row in cursor.fetchall():
    print(row)

In [ ]:
cursor.execute("""SELECT * FROM events WHERE MONTH(event_date) = 1;""")
for row in cursor.fetchall():
    print(row)

In [ ]:
cursor.execute("""SELECT * FROM events WHERE HOUR(event_time) >= 18;""")
for row in cursor.fetchall():
    print(row)

In [ ]:
cursor.execute("""SELECT * FROM events WHERE YEAR(event_date) = 2025;""")
for row in cursor.fetchall():
    print(row)

In [ ]:
cursor.execute("""SELECT * FROM events WHERE event_date = CURDATE();""")
for row in cursor.fetchall():
    print(row)

In [ ]:
cursor.execute("""SELECT * FROM events WHERE event_date = CURDATE() + INTERVAL 1 DAY;""")
for row in cursor.fetchall():
    print(row)

In [ ]:
cursor.execute("""SELECT * FROM events ORDER BY event_date;""")
for row in cursor.fetchall():
    print(row)

In [ ]:
cursor.execute("""SELECT * FROM events WHERE MONTH(event_date) = MONTH(CURDATE());""")
for row in cursor.fetchall():
    print(row)

In [ ]:
cursor.execute("""SELECT COUNT(*) FROM events WHERE MONTH(event_date)=3;""")
for row in cursor.fetchall():
    print(row)

In [ ]:
cursor.execute("""SELECT * FROM events ORDER BY event_date ASC LIMIT 1;""")
for row in cursor.fetchall():
    print(row)

In [ ]:
cursor.execute("""SELECT * FROM events ORDER BY event_date DESC LIMIT 1;""")
for row in cursor.fetchall():
    print(row)

In [ ]:
cursor.execute("""SELECT DATEDIFF('2025-05-20','2025-05-07');""")
for row in cursor.fetchall():
    print(row)

In [ ]:
cursor.execute("""SELECT event_name, DAYNAME(event_date) FROM events;""")
for row in cursor.fetchall():
    print(row)

In [ ]:
cursor.execute("""SELECT event_name, HOUR(event_time) FROM events;""")
for row in cursor.fetchall():
    print(row)

In [ ]:
cursor.execute("""SELECT * FROM events WHERE event_name='Exam';""")
for row in cursor.fetchall():
    print(row)

In [ ]:
cursor.execute("""SELECT * FROM events WHERE MONTH(event_date)=9 ORDER BY event_time;""")
for row in cursor.fetchall():
    print(row)

In [ ]:
cursor.execute("""SELECT MONTH(event_date), COUNT(*) FROM events GROUP BY MONTH(event_date);""")
for row in cursor.fetchall():
    print(row)

In [ ]:
cursor.execute("""SELECT * FROM events WHERE event_date BETWEEN CURDATE() AND CURDATE()+INTERVAL 30 DAY;""")
for row in cursor.fetchall():
    print(row)

In [ ]:
cursor.execute("""SELECT event_id, UNIX_TIMESTAMP(event_timestamp) FROM events;""")
for row in cursor.fetchall():
    print(row)

In [ ]:
cursor.execute("""SELECT FROM_UNIXTIME(UNIX_TIMESTAMP(event_timestamp)) FROM events;""")
for row in cursor.fetchall():
    print(row)

## 5. Close Connection

In [ ]:

cursor.close()
conn.close()
print("Connection closed.")